.flex-container{
    margin: 0;
    text-align: center;
    flex-flow: row wrap;
    font-weight: bold;
    font-size: 1em;
    width:100%;
}


.flex-item{
    border: 5px solid black;;
    padding: 70px;
}

#first-item{
    background-color: #EC8CF8;
    flex-grow: 3;
    line-height: 150px;
}

.aside{
    line-height: 1px;
}

.aside-2{
    background-color:#72CEEF;
    flex-grow: 1;
}

.side-to-side{
    display: flex; 
}

#second-item{
    background-color: #F088F7;
    line-height: 5px;
}

.bottom-items{
    display: flex; 
    justify-content: space-between;
}

.flex-item-bottom{
    background-color: #73D8EC;
    width: 150px;
    height: 10px;
    line-height: 10px;
}

body{
    background-color: black;
}