body{
    background-color: pink;
}

.container{
    background-color: #004755;
}

/* Todos os itens */
.flex-container{
    text-align: center;
    flex-flow: row wrap;
    font-weight: bold;
    font-size: 1em;
}

/* Cada item */
.flex-item{
    margin: 10px;
    background-color:#CCD9DF;
    border: 5px solid #004755;
}

/* 1 - Primeira grande seção de itens: 
1a - À esquerda: seção composta por dois retangulos e um quadrado;
1b - Abaixo: seção composta por dois dois quadrados com um retangulo entre eles */

.left-side{ /*Seção a esquerda (1a) e grande seção a direita (2)*/
    display: flex;
    line-height: 200px; 
    flex-grow: 1;
}

.big-item{
    flex-grow: 1;
}

.aside-left{ /*Seção a esquerda (1a) e grande seção a direita (2)*/
    flex-grow: 1;
}


/*Segunda seção de itens dentro da primeira grande seção da esquerda (1b), composta por dois dois quadrados com um retangulo entre eles*/

.bottom-side{
    display: flex;
}

.bigger{
    line-height: 200px;
    flex-grow: 2;
}

.smaller{
    flex-grow: 1;
}

/*Alinhando as duas seções (1a e 1b) dentro da primeira grande seção da esquerda (1)*/

.left-and-bottom-side{
    flex-direction: column;
}


/* 2 - Segunda grande seção de itens: a direita composta por 4 quadrados e um retãngulo */

.right-side{
    flex-direction: column;
    line-height: 200px; 
}

.top-squares{
    display: flex;
    flex-grow: 1;
}

.squares{
    flex-grow: 1;
}

/*Alinhando as duas grandes seções (1 e 2)*/

.container{
    flex-direction: row;
}